{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": false,
      "useBuiltIns": "usage"
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-react-remove-prop-types"
  ]
}
